# Environment variables
.env
.env.local

# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build outputs
dist/
build/
release/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# .md file
PROMPT.md
